:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  color: white;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  items-center;
  gap: 16px;
  background-color: #3B4245;
  text-white;
}

img {
  width: 200px;
  max-height: 80%;
  height: auto;
  border-radius: 32px;
}