:root {
  color-scheme: light dark;
}

body {
  width: 100px;
  padding: 10px;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  text-align: center;
  display: grid;
  place-items: center;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
